<div class="layout-footer">
    <div class="grid">
        <div class="col-6">
            <a href="/" class="logo-container">
                <img src="assets/layout/images/cdz.PNG" alt="babylon-layout" />
               
            </a>
        </div>
        <div class="col-6 footer-icons">
            <!-- <a href="#">
                <i class="pi pi-home"></i>
            </a> -->
            <a href="#" class="logo-container">
                <img id="layout-topbar-logo" src="assets/layout/images/logocdz.png" alt="babylon-layout"/>
            </a>
        </div>
    </div>
</div>
